@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family:"Outfit", sans-serif;
}
.logoheadertext{
    text-align: center;
    margin-bottom: 0;
}
.headertext form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
.logoheadertext h1{
    font-size: 50px;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    padding-top: 120px;
    
}
.logoheadertext p{
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #676e8b;
  margin-top: 28px;
  font-size: 20px;
  text-align: center;
  margin-left: 280px;
  margin-right: 280px;
}
.logoheadertext input.logom{
    background-color: #f4f6f8;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: none;
    margin-right: 8px;
    max-width: 424px;
    padding: 16px 24px;
    margin-top: 30px;
    
}
.logoheadertext input.logom{
    box-sizing: border-box;
    color: #676e8b;
    display: inline-block;
    font-family:"Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    outline: none;
    width: 100%;
    
}
.logoheadertext button.getstart{
    background: #5340ff;
    border-radius: 4px;
    border: none;
    color: #fff;
    padding: 18px 24px;
    transition: 0.3s;
    display: inline;
    box-sizing: border-box;
    display: inline-block;
}
.logoheadertext button.getstart:hover{
    background: #2008f7;
}

.logoidea{
    margin-top: 100px;
    height: 100%;
    width: 100%;
    display:inline-block;
    background-color: rgb(233, 251, 255);
    margin-left: 0;
    margin-right: 0;
    align-items: center;
    justify-content: center;
    
    
}
.logoidea h1{
    text-align: center;
    font-family:"Outfit", sans-serif;
    font-size: 40px;
}

.logoimages li img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 390px;
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 40px;
    transition: transform;
    transition-duration: 0.3s;
}
.logoimages li img:hover{
    transform: scale(1.018);
}
.logoimages .line1{
    display: flex;
    list-style-type:none;
}
.logoimages .line2{
    display: flex;
    list-style-type:none;
}
.logoimages .line3{
    display: flex;
    list-style-type:none;
}
.logoimages .line4{
    display: flex;
    list-style-type:none;
}

.bottomimage ul{
    display: flex;
    list-style-type: none;
}
.bottomimage li img{
    height: 350px;
    
    margin-left: 16%;
    margin-top: 10%;
}
.bottomimage li h2{
    font-size: 20px;
    margin-top: 12%;
    margin-left: 27%;
    margin-right: 12%;
    font-size: 13pt;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    font-weight: 300;
    font-family: "Outfit", sans-serif;
}
.bottomimage li span {
    font-size: 50px;
   
}
.bottomimage button{
    background: #5340ff;
    border-radius: 4px;
    border: none;
    color: #fff;
    padding: 12px 20px;
    transition: 0.3s;
}
.bottomimage button:hover{
    background: #2008f7;
}