@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family:"Outfit", sans-serif;
}
.logogenheader{
    text-align: center;
    margin-bottom: 0;
    margin-top: 150px;
}
.logogenheader h1{
    font-size: 50px;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    
    
}
.logogenheader input.logogen{
    background-color: #f4f6f8;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: none;
    margin-right: 8px;
    width: 300px;
    padding: 12px 20px;
    margin-top: 70px;
    font-size: 16px;
    line-height: 2.2;
}
.logogenheader input.logogen::placeholder {
    font-family: "Outfit", sans-serif; /* Placeholder text font family */
    color: #a0a0a0; /* Placeholder text color (optional) */
    font-size: 20px;
    align-items: flex-start;
}
.getstart:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.image-gallery {
    text-align: center;
    margin-top: 40px;
}

.images-container img {
    width: 300px; /* Adjust the size as needed */
    height: 300px; /* Adjust the size as needed */
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .images-container img:hover {
    transform: scale(1.03); /* Enlarge the image slightly on hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Add a shadow effect on hover */
  }
  

.loading-spinner {
    font-size: 20px;
    color: #4CAF50;
    margin-top: 20px;
    font-weight: bold;
}

