.brandnameheader {
    text-align: center;
    margin-bottom: 0;
    
  }
  
  .brandnameheader h1 {
    font-size: 50px;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    padding-top: 150px;
  }
  
  .brandnameheader p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #676e8b;
    margin-top: 25px;
    font-size: 22px;
    margin-bottom: 0;
  }
  
  .brandnameheader input {
    background-color: #f4f6f8;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: none;
    margin-right: 8px;
    max-width: 424px;
    padding: 16px 24px;
    margin-top: 30px;
  }
  
  .brandnameheader input.bname {
    box-sizing: border-box;
    color: #676e8b;
    display: inline-block;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    width: 100%;
  }
  
  .brandnameheader button.getstart {
    background: #5340ff;
    border-radius: 4px;
    border: none;
    color: #fff;
    padding: 20px 24px;
    transition: 0.3s;
    display: inline;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
  }
  
  .brandnameheader button.getstart:hover {
    background: #2008f7;
  }
  
  .industrySelect {
    width: 320px;
    padding: 10px;
    margin: 20px 0;
    font-size: 16px;
    margin: 20px 0;
    width: 100%;
    max-width: 200px; 
    
  }
  
  .generatedNames {
    margin-top: 40px;
  }
  
  .nameRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
  }
  
  .nameItem {
    background: #f4f6f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 5px;
    padding: 15px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: 150px;
    cursor: pointer;
  }
  
  .getstart {
    background: #5340ff;
    border-radius: 4px;
    border: none;
    color: #fff;
    padding: 20px 10px;
    transition: 0.3s;
    display: inline;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 20px;
  }
  
  .getstart:hover {
    background-color: #2008f7; 
  }
  
  .industrySelect option {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
  }
  .brandbox{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 40px;
    padding-top: 60px;
  }
  .box1{
    background: #fafafa;
    padding: 20px 30px 30px;
    border-radius: 10px;
  
  }
  .textb1 h1{
    font-size: 34px;
    margin-top: 25px;
    
    
  }
  .textg1 h1{
    font-size: 34px;
    margin-top: 2px;
    margin-bottom: 29px;
    padding-left: 50px;
    color: #e6a706;
  }
  .textg2 h1{
    font-size: 34px;
    margin-top: 2px;
    margin-bottom: 29px;
    padding-left: 50px;
    color: #ff0000;
  }
  .keybutton{
    display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  margin: 20px;
    
  }
  .keybutton button {
    flex: 1 1 20%; 
    padding: 10px;
    margin: 5px; 
    
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    color: black;
  }
  .keybutton button:hover{
    color: #676e8b;
    background-color: aliceblue;
  }