@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.emnavbar{
    width: 100%;
    height: 60px;
    background: #ffffff;
    color: #090b17;
    padding: 4px 0 ;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
}
    
.menu-iconem{
    margin-right: 60px;
    width: 40px;
    cursor: pointer;
}
.responsem{

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background: #5340ff;
    z-index: -1;
    width: 200px;
    padding-top: 40px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    
    
}
.responsem li{
    
    display: inline;
    color: #fff;
    padding: 6px;
    font-family:"Outfit", sans-serif; 
    font-size: 2px;
    
    
}
.responsem li:hover{
    color: #d1d0d0;
}


.hide-mobile-menuem{
    right: -200px;
    transition: 0.5s;
    right: 200px;
    display: none;
    transition: 0.5s;
    
}
