

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
 
  }

  .wrapper {
    width: 400px;
    border-radius: 25px;
    padding: 50px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000000;
  }
  
  .input-field {
    position: relative;
    border-bottom: 2px solid #000000;
    margin: 15px 0;
  }
  
  .input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #000000;
    font-size: 16px;
    pointer-events: none;
    transition: 0.15s ease;
  }
  
  .input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #000000;
  }
  
  .input-field input:focus~label,
  .input-field input:valid~label {
    font-size: 0.8rem;
    top: 10px;
    transform: translateY(-120%);
  }
  
  .forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: #000000;
  }
  
  #remember {
    accent-color: #000000;
  }
  
  .forget label {
    display: flex;
    align-items: center;
  }
  
  .forget label p {
    margin-left: 8px;
  }
  
  .wrapper a {
    color: #1C768F;
    text-decoration: none;
  }
  
  .wrapper a:hover {
    text-decoration:underline;
  }
  
  button {
    background: #FA991C;
    color: #000;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
    opacity: 100%;
  }
  
  button:hover {
    color: #FA991C;
    border-color: #FA991C;
    background: rgba(220, 216, 216, 0.15);
  }
  
  .register {
    text-align: center;
    margin-top: 30px;
    color: #000000;
  }
