@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.sidebar{
    height: 90vh;
    display: inline-flex;
    flex-direction: column;
    padding: 25px 15px;
    background-color:#f0f4f9 ;
    overflow-y: auto;
    
    
    

    
}
.sidebar img{
    width: 20px;
}
.sidebar .menue{
    display: block;
    margin-left: 10px;
    cursor: pointer;
}
.sidebar .new-chat{
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    
}
.sidebar .new-chat p{
    padding: 0;
    margin: 0;
    font-family: "outfit";
}
.sidebar .recent{
    display: flex;
    flex-direction: column;
    animation: fadeIn 1.5s;

}
.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 0;
    font-family: "outfit";
}
.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
    

}
.sidebar .recent-entry p{
    padding: 0;
    margin: 0;
    font-family: "outfit";
    color: #282828;
}
.sidebar .recent-entry:hover{
    
    background-color: #e2e6eb;

}