@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.toptext {
    margin: 0 auto; 
    padding: 0 50px;
    width: 100%;
    height: 470px;
    margin-top: 7%;
    display: flex;
    align-items: center; 
    justify-content: center; 
    box-sizing: border-box; 
}

.toptext ul {
    list-style-type: none;
    display: flex; 
    align-items: center; 
    justify-content: center;
    max-width: 100%;
}

.toptext li {
    display: flex;
    gap: 75px;
    align-items: center; 
}

.toptext ul img {
    width: 450px;
    height: auto;
    margin-left: 0; 
    margin-top: 0; 
}

.toptext ul h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #676e8b;
    margin: 0; 
    font-size: 20px;
}

.toptext li span {
    padding-top: 0; 
    font-size: 50px;
    font-family: "Outfit", sans-serif;
    font-weight: 700;
    color: #000;
}

.text {
    padding-bottom: 200px;
}

.anime {
    display: flex;
    margin-top: 4%;
}


.cphoto img{
    border-radius: 50%;
    border: 4px solid;
    border-color: rgb(176, 176, 176);
    height: 120px;
    width: auto;
    
}
.cbody h1{
    font-family: "Outfit", sans-serif;
    color: black;
}
.cphoto{
    display: flex;
    margin-top: 8%;
    padding: 5%;
}
.card{
    width: 250px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    font-size: small;
    justify-content: center; 
    text-align: center;
    margin-left: 6%;
   
}

.card h2{
    font-size: 25px;
    font-family: "Outfit", sans-serif;
}
.card p{
    font-size: 14px;
    text-align:center;
    margin-left: 10%;
    margin-right: 5%;
    margin-top: 1px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-bottom: 2px;
}
.card h4{
    font-size: 12px;
    text-align:center;
    margin-left: 10%;
    margin-right: 5%;
    font-family: "Roboto", sans-serif;
    color: #272728;
    margin-top: 10px;
}
.card .cphoto{
    display: flex;
    justify-content: center; 
    
    
    
}

.cbody{
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 1100px;
}
.cbody h1 span{
    font-size: 35px;
    display: flex;
    justify-content: center; 
    align-items: center;
    opacity: 80%;
}

.card button{
    
    background: #5340ff;
    border-radius: 4px;
    border: none;
    color: #fff;
    padding: 10px 18px;
    transition: 0.3s;
    
    
}
.card button:hover{
    background: #2008f7;
}

.anime :hover{

    background-color: rgb(246, 255, 255);
    filter: saturate(110%);
}
.onlineexpert{
    background-color: #5340ff;
    padding: 10px;
    align-items: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    padding-bottom: 40px;
    border-radius: 5px;
    

}
.onlineexpert h1{
    color: #fff;
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-size: 45px;
    
}
.onlineexpert p{
    color: #d7d5d5;
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top:-5px;
    
    
}
.onlineexpert button.onlinehelp{
    background-color:rgb(54, 52, 52);
    border-radius: 5px;
    padding: 15px 18px;
    font-size: 28px;
    font-weight: 600;
    transition: 0.3s;
    margin-top: 15px;
}
.onlineexpert button.onlinehelp:hover{
    background-color:rgb(10, 4, 2);
}
.bottomtext ul{
    list-style-type: none;
    opacity: 90%;
    align-content: center;
    justify-content: center;
    
}
.bottomtext li{
    margin-top: 60px;
    margin-left: 10%;
    margin-right: 15%;
    text-align: center;
    justify-content: center;

}
.bottomtext span{
    font-size: 50px;
}
.bottomtext h1{
    font-size: 20px;
    font-family: "Outfit", sans-serif;
}
.bottomtext p{
    font-size: 24px;
    font-family:"Outfit", sans-serif;
    font-weight: 400; 
    color:  #434345;
}
.bottomtext h2{
    font-size: 30px;
    font-family: "Outfit", sans-serif;
}

