@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.navbar{
    width: 100%;
    height: 60px;
    background: #ffffff;
    color: #090b17;
    padding: 4px 0 ;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 30px;
}

.logo{
    width: 60px;
    cursor: pointer;

}
.navbar-mid{
    align-items: center;
    justify-content: center;
}

.navbar-mid  li{
    display: inline-block;
    list-style: none;
    margin: 5px 32px;
    font-size: 15px;
    cursor: pointer;
    font-family:"Outfit", sans-serif;
}
.navbar-mid{
    padding-left: 100px;
}
.navbar-right  li{
   
    display: inline-block;
    list-style: none;
    margin: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    font-family:"Outfit", sans-serif; 
}

.navbar-right li.btnnav{
    background: #5340ff;
    border-radius: 4px;
    border: none;
    color: #fff;
    padding: 12px 20px;
    transition: 0.3s;
}
.navbar-right li.btnnav:hover{
    background: #2008f7;
    color: #fff;
}

.navbar-mid li:hover{
    color: #757373;
}
.navbar-right li:hover{
    color: #757373;
}
.response li{
    display: none;
    margin: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    font-family:"Outfit", sans-serif; 
}
.response li:hover{
    color: #f3c2c2;
}
.menures{
    width: 30px;
    margin-top: 0;
    display: none;
    cursor: pointer;
}
.menures:hover{
    width: 31px;
    
}
.hide-mobile-menu li{
    right: 200px;
    display: none;
    transition: 0.5s;
    
}
.login-img {
    width: 40px;  /* Adjust the size as needed */
    height: 40px;
    border-radius: 50%;  /* Makes the image round */
    margin-right: 10px;  /* Adds some space from the previous element */
    cursor: pointer;  /* Adds a pointer cursor on hover */
    
   
  }

  

/*-------- media query-------*/

@media (max-width:1250px){
    .navbar{
        padding-left: 5%;
        padding-right: 5%;
    }
    .btnnav{
        padding: 14px 22px;
    }
    .navbar-mid{
        padding-left: 0;
    }
}
@media (max-width:1120px){
    .navbar ul li{
        margin: 10px 15px;
    }
}
@media (max-width:920px){
    .navbar{
        padding: 15px 0;
    }
    .navbar-right li{
        display: none;
    }
    .navbar-mid li{
        display: none;
    }
    .response{

        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #5340ff;
        z-index: -1;
        width: 200px;
        padding-top: 60px;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        
        
    }
    .response li{
        
        display: inline;
        color: #fff;
        
        
    }
    .menures{
        width: 30px;
        margin-top: 0;
        display: block;
        margin-right: 20px;
    }
    .hide-mobile-menu{
        right: -200px;
        transition: 0.5s;
    }
}

@media (max-width:600px){
    .navbar{
        padding: 15px 0;
    }
    .navbar-right li{
        display: none;
    }
    .navbar-mid li{
        display: none;
    }
    .response{

        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: #5340ff;
        z-index: -1;
        width: 200px;
        padding-top: 60px;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        
        
    }
    .response li{
        
        display: inline;
        color: #fff;
        
        
    }
    .menures{
        width: 30px;
        margin-top: 0;
        display: block;
        margin-right: 20px;
    }
    .hide-mobile-menu{
        right: -200px;
        transition: 0.5s;
    }
}
