.brandkit-container {
    margin-top: 50px;
    text-align: center;
    font-family: "Outfit", sans-serif;
    margin-bottom: 100px;
}

.brandkit-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
}

.brandkit-item {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(132, 98, 128, 0.1);
    margin-left: 0;
    margin-right: 0;
}

.brandkit-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.brandkit-item a {
    text-decoration: none;
    color: inherit;
  }  

.brandkit-item:hover .brandkit-image {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.brandkit-item:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}
